.reservation {
    padding: 60px 0;
}
.reservation-form-item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 20px;
}
.reservation-form-item label {
    margin-bottom: 5px;
    color: #7DA640;
    font-weight: 700;
    font-size: 18px;
    display: block;
    width: 100%;
}
.reservation-form-item input,
.reservation-form-item textarea {
    width: 100%;
    padding: 10px;
    font-size: 15px;
    border: 2px solid #7DA640;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: outline 0.1s , border 0.5s;
    -webkit-transition: outline 0.1s , border 0.5s;
    -moz-transition: outline 0.1s , border 0.5s;
    -ms-transition: outline 0.1s , border 0.5s;
    -o-transition: outline 0.1s , border 0.5s;
}
.reservation-form-item input:focus,
.reservation-form-item textarea:focus {
    outline: 2px solid #be200b;
    border: none;
}
.reservation-form-item button {
    width: 50%;
    height: 55px;
    margin: 5px auto 0 auto;
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    background-color: #7DA640;
    border: 2px solid #7DA640;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: background-color 0.5s , color 0.5s;
    -webkit-transition: background-color 0.5s , color 0.5s;
    -moz-transition: background-color 0.5s , color 0.5s;
    -ms-transition: background-color 0.5s , color 0.5s;
    -o-transition: background-color 0.5s , color 0.5s;
}
.reservation-form-item button:hover {
    background-color: #fff;
    color: #be200b;
}
@media screen and (max-width:500px) {
    .reservation-form-item button{
        width: 100%;
    }
}