.navbar {
    background-color:#fff;
    box-shadow: 0px 0px 18px -2px #EE2737;
    padding: 25px 0px 16px 0;
    height: 75px;
}
.logo {
    position: relative;
}
.logo::after {
    content: "";
    animation-duration: 1.8s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-name: swigo-logo;
    background-image: url('../../Assets/pan1.png');
    height: 12px;
    width: 38px;
    position: absolute;
    top: -15px;
    left: 3px;
    background-repeat: no-repeat;
}
@keyframes swigo-logo {
    0%, 45%, 55%, 65%, 75%, 80%, 85%, 100% {
        animation-timing-function: cubic-bezier(0.200, 0.600, 0.350, 1.000);
    }
    0% {
        transform: rotate(0);
    }
    45% {
        transform: translate3d(-4%, -13%, 0) rotate(-13deg);
    }
    55% {
        transform: translate3d(1%, -2%, 0) rotate(6deg);
    }
    65% {
        transform: translate3d(-2%, -4%, 0) rotate(-3deg);
    }
    75% {
        transform: translate3d(2%, 3%, 0) rotate(3deg);
    }
    80% {
        transform: translate3d(-2%, 1%, 0) rotate(-2deg);
    }
    100% {
        transform: none;
    }
}
.navbar .link ,
.navbar-nav .nav-link,
.dropdown-link {
    font-size: 18px;
    font-weight: 600;
    /* text-align: center; */
    color: #222222;
    text-decoration: none;
    letter-spacing: 0.6px;
    text-transform: capitalize;
    transition: color 0.5s;
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -ms-transition: color 0.5s;
    -o-transition: color 0.5s;
}
.navbar-nav {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    /* width: 100%; */
}
.navbar .link ,
.navbar-nav .nav-link {
    margin-right: 20px;
    padding: 7px 10px;
}
.dropdown-link {
    padding: 10px 20px;
    display: block;
    transition: background-color 0.5s , color 0.5s;
    -webkit-transition: background-color 0.5s , color 0.5s;
    -moz-transition: background-color 0.5s , color 0.5s;
    -ms-transition: background-color 0.5s , color 0.5s;
    -o-transition: background-color 0.5s , color 0.5s;
}
.navbar .link.active,
.navbar-nav .nav-link.show {
    color: #EE2737;

}
.navbar .link:hover,
.navbar .link:active,
.navbar-nav .nav-link:hover {
    color: #7DA640;
}
.dropdown-menu {
    background-color: #fff;
    box-shadow: 0px 0px 18px 3px #EE2737;
    padding: 0;
    border: none;
    width: 300px;
    top: 52px !important;
    left: -100px !important;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.dropdown-link:first-of-type {
    padding: 15px 20px 10px 20px;
}
.dropdown-link:last-of-type {
    padding: 10px 20px 17px 20px;
}
.dropdown-link:first-of-type:hover {
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
}
.dropdown-link:last-of-type:hover {
    border-radius: 0px 0px 5px 5px;
    -webkit-border-radius: 0px 0px 5px 5px;
    -moz-border-radius: 0px 0px 5px 5px;
    -ms-border-radius: 0px 0px 5px 5px;
    -o-border-radius: 0px 0px 5px 5px;
}
.dropdown-link:hover {
    background-color: #EE2737;
    color: #fff;
}
.cart-icons {
    position: absolute;
    top: 15px;
    right: 50px;
}
.nav-cart-wrapper {
    position: relative;
    margin-left: 15px;
}
.nav-cart-wrapper > i {
    font-size: 30px;
    color: #fff;
    padding: 2px 7px;
    border-radius: 10px;
    background-color: #7DA640;
    border: 2px solid #7DA640;
    cursor: pointer;
    transition: color 0.5s, background-color 0.5s;
    -webkit-transition: color 0.5s, background-color 0.5s;
    -moz-transition: color 0.5s, background-color 0.5s;
    -ms-transition: color 0.5s, background-color 0.5s;
    -o-transition: color 0.5s, background-color 0.5s;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.nav-cart-wrapper:hover > i {
    color: #7DA640;
    background-color: #fff;
}
.cart-notifications {
    position: absolute;
    top: -30px;
    right: -10px;
    color: #fff;
    background-color:red;
    width: 25px;
    height: 25px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
@media screen and (max-width:991px) {
    .navbar-toggler {
        height: 45px;
        background-color: #7DA640;
        margin-bottom: 12px;
    }
    .navbar {
        padding: 16px 0px 16px 0;
    }
    .container {
        width: 100% !important;
        min-width: 100% !important;
        max-width: 100% !important;
    }
    .logo {
        display: none;
    }
    .dropdown-menu {
        width: 100%;
    }
    .navbar-nav {
        background-color: #fff;
        box-shadow: 0px 0px 18px 3px #EE2737;
    }
    .navbar .link,
    .navbar-nav .nav-link {
        padding-left: 20px;
    }
    .navbar .link:hover,
    .navbar-nav .nav-link:hover {
        background-color: #EE2737;
        color: #fff;
        width: 100%;
    }
    .navbar .link:first-of-type:hover {
        border-radius: 10px 10px 0 0;
        -webkit-border-radius: 10px 10px 0 0;
        -moz-border-radius: 10px 10px 0 0;
        -ms-border-radius: 10px 10px 0 0;
        -o-border-radius: 10px 10px 0 0;
    }
    .navbar .link:last-of-type:hover {
        border-radius: 0px 0px 10px 10px;
        -webkit-border-radius: 0px 0px 10px 10px;
        -moz-border-radius: 0px 0px 10px 10px;
        -ms-border-radius: 0px 0px 10px 10px;
        -o-border-radius: 0px 0px 10px 10px;
}
    .navbar-collapse {
        margin-top: 15px;
    }
}
@media screen and (max-width:500px) {
    .cart-icons {
        right: 20px;
    }
}